<p id="notice"><%= notice %></p>

<h1>体験談を投稿</h1>

<%= render 'form', story: @story %>

<!-- <%= link_to 'Back', stories_path %> -->
<%= button_tag '一覧に戻る', onclick: 'history.back()', :class => 'btn btn-primary' %>
