/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

/*
.share .row div {
text-align: center;
padding: 10px;
}

.share .row {
padding: 5px;
}

.sharebtns div {
border-radius: 5px;
}

.sharebtns a {
display: block;
    color: #fff;
    padding: 5px;
}

.twitterbtn {
background-color: #009EF5;
}

.facebookbtn {
background-color: #3B539A;
}

.linebtn {
background-color: #00C300;
}
*/

.textlink {
  color: #2255AA;
  text-decoration: underline;
}

.title_text {
  padding: 1px 10px;
  font-size: 1.5em;
}

.table-bordered .border-only-top {
  border-bottom-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
}

.created-at {
  text-align: right;
  color: #AAAAAA
}

form {
  margin-top: 3em;
  margin-bottom: 1em;
}

table {
  table-layout: fixed;
}

td.centering_icon{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.content_pad{
  padding: 36px;
}

@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}

/* カテゴリの色分け */

.cat_bg1 {
  background-color: #f8c378;
}

.cat_bg2 {
  background-color: #dbd5df;
}

.cat_bg3 {
  background-color: #a8bf8f;
}

.cat_bg4 {
  background-color: #85cbf9;
}
