</div>
<footer class="footer">
  <div class="container">
    <p id="pageTop">
      <a href="#" class="btn btn-block btn-primary">Page Top</a>
    </p>

    <small>
      enPiT2017 チームA1作成
      <!-- The <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
      by <a href="http://www.michaelhartl.com/">Michael Hartl</a> -->
    </small>
    <!--<nav>
      <ul>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
        <li><a href="http://news.railstutorial.org/">News</a></li>
      </ul>
    </nav>-->
  </div>
</footer>
