<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "就活 from A1", '/stories#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "体験談一覧", "/stories" %></li>
        <li><%= link_to "体験談を投稿", "/stories/new" %></li>
        <!-- <li><%= link_to "Log in", '#' %></li> -->
      </ul>
    </nav>
  </div>
</header>
<div class="container">
