<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "就活 from A1", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/stories">体験談一覧</a></li>
        <li><a href="/stories/new">体験談投稿</a></li>
        <!-- <li><%= link_to "Log in", '#' %></li> -->
      </ul>
    </nav>
  </div>
</header>
